Axelrod==4.13.0
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
dask==2024.6.2
fonttools==4.53.0
fsspec==2024.6.0
kiwisolver==1.4.5
locket==1.0.0
matplotlib==3.9.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
partd==1.4.2
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
scipy==1.13.1
setuptools==70.1.0
six==1.16.0
toolz==0.12.1
tqdm==4.66.4
tzdata==2024.1
